.btn {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 3rem;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin: 1rem 0;
    outline: none;
    transition: background-color .3s;
}
.btn .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}
.btn_block {
    width: 100%;
}

.btn_stretched {
    padding: 2rem 6rem;
}

.btn_outline {
    background-color: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn_outline:hover {
    background-color: var(--color-headings);
    color: #fff;
}

.btn_primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn_primary:hover {
    background-color: #38affd;
}

.btn_secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.btn_secondary:hover {
    background-color: #00c8eb;
}

.btn_accent {
    background-color: var(--color-accent);
    color: #fff;
}

.btn_accent:hover {
    background-color: #cf3000;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}