.plan {
    transition: all .2s ease-out;
}
.plan:hover {
    transform: scale(1.05);
}
.plan_popular:hover {
    transform: scale(1.15);
}
.plan__name {
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}

.plan__price {
    font-size: 5rem;
}

.plan__billing-cycle {
    font-size: 2rem;
    font-weight: 300;
    opacity: .8;
    margin-right: 1rem;
}

.plan__description {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
}

.plan .list {
    row-gap: 2rem;
}

.plan_popular .card__header {
    position: relative;
}

.plan_popular .card__header::before {
    content: url('../../images/popular.svg');
    position: absolute;
    display: inline-block;
    top: -6px;
    right: 5%;
    width: 33px;
}

@media screen and (min-width: 1024px) {
    .plan__name {
        font-size: 1.4rem;
    }
    .plan__price {
        font-size: 5rem;
    }
    .plan__billing-cycle {
        font-size: 1.6rem;
    }
    .plan__description {
        font-size: 1.7rem;
    }
    .plan_popular {
        transform: scale(1.1);
    }
}