.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: all .15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}