.nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
}
.nav img {
    padding-top: 6px;
    height: 50px;
    position: relative;
    top: 3px;
}
.nav__brand {
    padding: 0 15px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    top: 5px;
}
.nav__logo {
    font-size: 2rem;
    text-shadow: 0 0 10px #fff, 0 0 80px #fff, 0 0 30px wheat, 0 0 40px blue, 0 0 50px yellow, 0 0 60px orange, 0 0 70px yellow;
    color: ghostwhite;
    margin: 0;
    font-weight: 700;
    text-align: center;
}
.nav__logo_position-top {
    font-size: 2.4rem;
    margin-top: -20px;
}
.nav__list {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 10px;
}
.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
}
.nav__item:last-of-type {
    border-bottom: none;
}
.nav__item a {
    color: #d0d2db;
    transition: all .3s;
}
.nav__item a:hover {
    color: #fff;
}
.nav__toggler {
    opacity: .5;
    transition: all .3s;
    cursor: pointer;
}
.nav.collapsible_expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
    }
    .nav__brand {
        padding: 0 20px;
        top: 0;
    }
    .nav__list {
        width: auto;
        flex-direction: row;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
        margin-top: 0;
    }
    .nav__item {
        border: 0;
    }
}