.footer {
    background: #232323;
    padding-top: 10rem;
    min-height: 356px;
    display: flex;
}

.footer .container {
    width: 100%;
}

.footer a {
    color: #777;
    transition: color 0.3s;
}

.footer a:hover {
    color: #fff;
}

.footer__section {
    padding: 2rem;
    border-bottom: 1px solid #393939;
    width: 100%;
}

.footer__section .list {
    margin: 0;
    row-gap: 0;
}

.footer__heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
}

.footer__brand {
    margin-top: 5rem;
    text-align: center;
    width: 100%;
}
.footer__logo {
    font-size: 3rem;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px wheat, 0 0 40px blue, 0 0 50px yellow, 0 0 60px orange, 0 0 70px yellow;
    color: ghostwhite;
    margin: 0;
    font-weight: 700;
}
.footer__logo:first-of-type {
    position: relative;
    z-index: 1;
}
.footer__logo_position-top {
    margin-top: -20px;
    margin-bottom: 5px;
}
.footer__brand img {
    max-width: 230px;
}

.footer__copyright {
    font-size: 2.1rem;
    color: #fff;
    opacity: 0.3;
}

@media screen and (min-width: 768px) {
    .footer {
        font-size: 1.5rem;
    }
    .footer__sections {
        grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
        justify-items: center;
    }
    .footer .collapsible__chevron {
        display: none;
    }
    .footer .collapsible__content {
        opacity: 1;
        max-height: 100%;
    }
    .footer__brand {
        order: -1;
        margin-top: 1rem;
    }
    .footer__copyright {
        font-size: 1.5rem;
    }
    .footer__section {
        border: 0;
        padding-right: 0;
    }
    .footer__heading {
        font-size: 1.6rem;
    }
}
