.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
}

.card__header, .card__body {
    padding: 2rem 3rem;
}

.card_primary .card__header {
    background-color: var(--color-primary);
    color: #fff;
}
.card_primary .badge_primary {
    background-color: #055aca
}
.card_secondary .card__header {
    background-color: var(--color-secondary);
    color: #fff;
}

.card_secondary .badge_secondary {
    background-color: #02cdf1;
}